<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<h2 class="col-md-12" style="display: flex; justify-content: center; margin-bottom: 20px">Preguntontis</h2>
	<h1 class="col-md-12" style="display: flex; justify-content: center; margin-bottom: 20px; font-weight: 600"><%= @@juego.get_siguiente_pregunta.get_pregunta %><h1>

	<!--<form method="post" action="/">
	  Respuesta: <input type="text" name="respuesta" />
	  <input type="submit" value="Responder" />
	</form>
	-->
<div class="row">
	<div class="col-md-4" style="text-align: left;">
		Score: <%= @@juego.get_score %>
	</div>
<div class="col-md-4" styles="display: flex; justify-content: center">
<form style="margin-left: 30%" method="post" action="/ayuda"><input <%= @@juego.pidio_ayuda ? 'disabled' : "" %> style="margin-top: 10px" type="submit" value="Ayuda" /></form>
</div>	
<div class="col-md-4" style="text-align: right;">
		Vidas: <img src="vidas<%= @@juego.get_vidas %>.png" title="vidas" alt="vidas" />
	</div>
</div>
<% if !defined?(@resultado) || (defined?(@resultado) && @resultado != "Correcto") %>
	<form style="margin-bottom: 0px" method="post" action="/">
		<% @@juego.get_siguiente_pregunta.get_respuestas.each_with_index do |resp, i| %>
		
		<div class="col-md-12" style="margin-left: 46%">
			<input required <%= resp == 'ELIMINADA' ? 'disabled' : "" %> id="respuesta_<%= i %>" name="respuesta" value="<%= i %>" type="radio"> <%= resp %>
		</div>
		<% end %>
<div class="col-md-12" style="display: flex; justify-content: center;">
		
	  	<input style="margin-top: 10px" type="submit" value="Responder" />
		
</div>
	</form>
<% end %>
	<% if defined?(@resultado) %>
	  <% if @resultado == "Correcto" %>
		<p style="display: flex; justify-content: center; font-size: 60px; font-weight: 600; color: green;"><%= @@juego.get_siguiente_pregunta.get_respuesta_correcta %></p>
	    <form class="col-md-12" style="display: flex; justify-content: center; margin-bottom: 0px" method="post" action="/siguiente">
		  <input style="margin-top: 10px" type="submit" value="Siguiente" />
		</form>
	  <% end %>
	  <p style="display: flex; justify-content: center; font-size: 60px; font-weight: 600; color: <%= @resultado == 'Correcto' ? 'green' : 'red' %>"><%= @resultado.upcase %>!</p>
	<div class="col-md-12" style="display: flex; justify-content: center" >
	  <img title="susi" alt="susigif" src="<%= @resultado == 'Correcto' ? 'https://thumbs.gfycat.com/DefenselessWelldocumentedAardvark-size_restricted.gif?_sm_au_=iJVH0MQVNS630kN3' : 'https://pa1.narvii.com/6603/d8edd61cca2ad1c70b4dbd4ad9951485e4c998bd_hq.gif?_sm_au_=iJVH0MQVNS630kN3' %>" />
	</div>
	<% end %>
</body>
